@model List<eCommerce_SharedViewModels.EntitiesDto.Categories.CategoryReadDto>
@foreach(var item in Model)
{
<div class="filter-item">
	<div class="custom-control custom-checkbox">
		<input type="checkbox" class="custom-control-input" value="@item.CategoryName" id="@item.CategoryName">
		<label for="@item.CategoryName" class="custom-control-label">@item.CategoryName</label>
	</div><!-- End .custom-checkbox -->
	<span class="item-count">@Model.Where(x=>x.Id == item.Id).Count()</span>
</div><!-- End .filter-item -->
}
